/* import fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Montserrat:wght@700&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@400;600;700;800&display=swap');


/* Hide scrollbar for Chrome, Safari and Opera */
.sh::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sh {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#cfes:before{
  width: 10px;
  height: 10px;
  background-color: red;

}

/* nav css start here */

li a {
  transition: 100ms;
  text-decoration: none;
  color: White;
}

nav {
  transition: 100ms;
}

#hrSlide {
  content: "";
  height: 0.1875rem;
  background-color: rgba(217, 147, 67, 1);
  position: sticky;
  top: 3.75rem;
  opacity: 0;
  transition: 100ms;
}

#logo {
  transition: 100ms;
}

.nav-items {
  transition: 100ms;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: right;
  font-size: 15px;
  height: 4.95rem;
  background: rgba(4, 7, 13, 0.85);
  width: 100vw;
}
#logo {
  /* height: 5.875rem; */
  width: 6.5em;
  margin: 1.1875em 0em 1.1875em 3.125em;
  transition: 100ms;
}
.nav-items {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 0.375em;
  /* margin-top: 2.8125rem; */
  align-items: center;
}
.nav-link {
  text-decoration: none;

  color: rgb(226, 226, 226);

  list-style: none;
  /* margin-left: 0.625rem; */
  /* padding-left: 0.625rem; */
  /* padding-right: 1.25rem; */
  /* padding-tdunlockop: 0.625rem; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1875em;

  padding-right: 3.75em;
  color: #e8e8e8;
}
.nav-link:hover {
  color: white;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 1.5625em;
  height: 0.1875em;
  background-color: #EA8A01;
  margin: 0.3125em;
}
@media screen and (max-width: 1300px) {
  .nav-items {
    width: 100%;
  }
}

@media screen and (max-width: 1110px) {  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-1.0625em, 0.75em) !important;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(0.0625em, 0.3em) !important;
  }
  .container {
    transform: scale(0.79) !important;
    margin-top: 0rem !important;
  }
  #sponsorIcons {
    padding: 0rem !important;
  }
  .mobhead {
    padding-left: 0rem !important;
    text-align: center !important;
  }
  .speaker-hd-child {
    margin-left: 0rem !important;
    position: unset !important;
  }
  nav {
    overflow-x: hidden;
    backdrop-filter: unset !important;
    background-color: transparent;
  }
  #logo {
    margin:0 !important;
    margin-left: 2.125rem !important;
    /* opacity: 0; */
  }
  .burger{
    margin-right: 1.625em !important;
    margin-top: 0.4em !important;
  }
  .nav-items {
    margin:0 !important;
    position: fixed;
    z-index: 1000;
    right: 0em;
    height: 100%;
    top: 0;
    background-color: #000000e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    justify-content: space-evenly;
    transition: transform 0.5s ease-in;
    /* padding-right: 1.4375rem !important; */
    padding-top: 0;
    /* margin-top: -1.3125em; */
  }
  .nav-link {
    opacity: 0;
    margin-left: 3.375em;
  }
  .burger {
    display: block;
    position: fixed;
    right: 0em;
    top: 0.625em;
    margin-right: 0.625em;
    z-index: 1001;
  }


}


@media screen and (max-width: 400px) {  
  .toggle .line1{
      transform:rotate(-45deg) translate(-2.0625em, 1.75em) !important;
  }
  #first-section{
    align-items: unset !important;
  }
 #eRgf{
  margin-top: 17rem !important;
 } 
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125em);
  }
  to {
    opacity: 1;
    transform: translateX(0em);
  }
}
@keyframes CloseLinkFade {
  from {
    opacity: 1;
    transform: translateX(0em);
  }
  to {
    opacity: 0;
    transform: translateX(3.125em);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-1.0625em, 1.75em);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(0.0625em, -0.75em);
}
/* nav css ends here  */

.social-bigs {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  right: 50px;
  bottom: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:1.3em;
  
  
}

.social-bigs::before{
  display: block;
  content: "";
  width: 3px;
  height: 50px;
  background-color: rgb(255 255 255 / 43%);
  margin-bottom: 12px;
  border-radius: 15px;
}

.social-bigs a {
  margin: 1em;
  cursor: pointer;
  transition-duration: 500ms;
  cursor: pointer;
  color: white;
  margin-bottom: 0;
}

.social-bigs>a>i {
  color: inherit;
}

.social-bigs a:nth-child(1):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(2):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(3):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(4):hover {
  color:  #F2A53E !important;
}
/* .social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.1em !important;
  right: 16px !important;
  top: 340px !important;
} */

 
