/* import fonts here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Montserrat:wght@700&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@400;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* nav css start here */

li a {
  transition: 0.4s;
  text-decoration: none;
  color: White;
}

nav {
  transition: 0.4s;
}

#hrSlide {
  content: "";
  height: 0.1875rem;
  background-color: rgba(217, 147, 67, 1);
  position: sticky;
  top: 3.75rem;
  opacity: 0;
  transition: 0.4s;
}

#logo {
  transition: 0.4s;
}

.nav-items {
  transition: 0.4s;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  height: 8.25rem;
  background: rgba(4, 7, 13, 0.85);
  width: 100vw;
}
#logo {
  /* height: 5.875rem; */
  width: 10.875rem;
  margin: 1.1875rem 0rem 1.1875rem 3.125rem;
  transition: 0.4s;
}
.nav-items {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 0.375rem;
  /* margin-top: 2.8125rem; */
  align-items: center;
}
.nav-link {
  text-decoration: none;

  color: rgb(226, 226, 226);

  list-style: none;
  /* margin-left: 0.625rem; */
  /* padding-left: 0.625rem; */
  /* padding-right: 1.25rem; */
  /* padding-tdunlockop: 0.625rem; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;

  padding-right: 3.75rem;
  color: #e8e8e8;
}
.nav-link:hover {
  color: white;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: rgb(226, 226, 226);
  margin: 0.3125rem;
}
@media screen and (max-width: 1300px) {
  .nav-items {
    width: 100%;
  }
}

@media screen and (max-width: 1110px) {
  .container {
    transform: scale(0.79) !important;
    margin-top: 0rem !important;
  }
  #sponsorIcons {
    padding: 0rem !important;
  }
  .mobhead {
    padding-left: 0rem !important;
    text-align: center !important;
  }
  .speaker-hd-child {
    margin-left: 0rem !important;
    position: unset !important;
  }
  nav {
    overflow-x: hidden;
    backdrop-filter: unset !important;
    background-color: transparent;
  }
  #logo {
    /* opacity: 0; */
  }
  .nav-items {
    position: fixed;
    z-index: 1000;
    right: 0rem;
    height: 100vh;
    top: 0;
    background-color: #000000e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    justify-content: space-evenly;
    transition: transform 0.5s ease-in;
    padding-right: 1.4375rem !important;
    padding-top: 0;
    margin-top: 0;
  }
  .nav-link {
    opacity: 0;
    margin-left: 3.375rem;
  }
  .burger {
    display: block;
    position: fixed;
    right: 0rem;
    top: 0.625rem;
    margin-right: 0.625rem;
    z-index: 1001;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(3.125rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes CloseLinkFade {
  from {
    opacity: 1;
    transform: translateX(0rem);
  }
  to {
    opacity: 0;
    transform: translateX(3.125rem);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-1.0625rem, 1.75rem);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(0.0625rem, -0.75rem);
}
/* nav css ends here  */

.social-bigs {
  position: absolute;
  /* z-index: 1000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  right: 50px;
  bottom: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:1.6em;
  
  
}

.social-bigs::before{
  display: block;
  content: "";
  width: 3px;
  height: 50px;
  background-color: rgb(255 255 255 / 43%);
  margin-bottom: 12px;
  border-radius: 15px;
}

.social-bigs a {
  margin: 1em;
  cursor: pointer;
  transition-duration: 500ms;
  cursor: pointer;
  color: white;
  margin-bottom: 0;
}

.social-bigs>a>i {
  color: inherit;
}

.social-bigs a:nth-child(1):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(2):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(3):hover {
  color:  #F2A53E !important;
}

.social-bigs a:nth-child(4):hover {
  color:  #F2A53E !important;
}
/* .social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.2em !important;
  right: 16px !important;
  top: 340px !important;
}
.social-bigs-mbl{
  font-size: 1.1em !important;
  right: 16px !important;
  top: 340px !important;
} */

 
